flask~=3.1.0
flask[async]
flask_cors
flask_jwt_extended
dotenv
aiohttp~=3.11.8
PyJWT

Flask-Cors~=5.0.0
Flask-JWT-Extended~=4.7.1
APScheduler~=3.10.4
python-dotenv~=1.0.1
asyncpg~=0.30.0
requests~=2.32.3
pandas~=2.2.3
