# Web 框架
quart~=0.18.4
quart-cors~=0.8.0
quart-jwt-extended~=0.1.0
werkzeug<4.0.0

# 异步支持
aiohttp~=3.11.8
asyncpg~=0.30.0

# 任务调度
APScheduler~=3.10.4

# 环境与配置
python-dotenv~=1.0.1

# 工具库
PyJWT~=2.8.0
requests~=2.32.3

# 生产环境
hypercorn~=0.17.3

# 加密支持
pycryptodome~=3.19.0

# 类型提示
pydantic~=2.11.3
pydantic-settings~=2.8.1
